<div id="headerwrap" ng-controller="headerWrapController">
	<div class="images-loaded" images-loaded-events="controller.imagesLoadedEvent" style="display: none;">
		<img src="app/image/City_of_sydney.jpg" />
	</div>
	
	<div class="container">
		<div class="row centered">
			<div class="col-lg-12">
				<h1>{{personalInfo.firstName}} {{personalInfo.lastName}}</h1>
				<h3>{{personalInfo.jobTitle}} | {{personalInfo.email}}</h3>
			</div><!--/.col-lg-12 -->
		</div><!--/.row -->
		<div class="row centered">
			<div class="col-lg-12">
				<h3><a ng-click="controller.changeToEn()"><span class="flag-icon flag-icon-au"></span> English</a> | <a ng-click="controller.changeToCn()"><span class="flag-icon flag-icon-cn"></span> 中文</a></h3>
			</div>
		</div>
	</div><!--/.container -->

	<p class="scrolldown" ng-hide="controller.isBackgroudShowed()">
		<a scroll-to="about"><i class="fa fa-arrow-circle-down fa-4x animated infinite bounce"></i></a>
	</p>
</div><!--/.#headerwrap -->