<div id="section-topbar" ng-controller="topbarController" my-scroll>
	<div id="topbar-inner" ng-class="{showBackgroud : controller.isBackgroudShowed()}">
		<div class="container">
			<div class="row">
				<div class="dropdown">
					<ul id="nav" class="nav" ng-class="{showRightBorder : controller.isBackgroudShowed()}">
						<li class="menu-item"><a scroll-to="about" easing="easeOutQuad" title="About" ng-class="{current : controller.isCurrent(Positions.About), showBorder : controller.isBackgroudShowed()}"><i class="fa fa-user"></i></a></li>
						<li class="menu-item"><a scroll-to="resume" easing="easeOutQuad" title="Resume" ng-class="{current : controller.isCurrent(Positions.Resume), showBorder : controller.isBackgroudShowed()}"><i class=" fa fa-file"></i></a></li>
						<li class="menu-item"><a scroll-to="skillswrap" easing="easeOutQuad" title="Works" ng-class="{current : controller.isCurrent(Positions.Work), showBorder : controller.isBackgroudShowed()}"><i class=" fa fa-briefcase"></i></a></li>
						<li class="menu-item"><a scroll-to="contact" easing="easeOutQuad" title="Contact" ng-class="{current : controller.isCurrent(Positions.Contact), showBorder : controller.isBackgroudShowed()}"><i class=" fa fa-envelope"></i></a></li>
					</ul><!--/ uL#nav -->
				</div><!-- /.dropdown -->
				<div class="clear"></div>
			</div><!--/.row -->
		</div><!--/.container -->
		<div class="clear"></div>
	</div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->